<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><strong>添加信息</strong></h4>
            </div>
            <div class="modal-body">
                <div id="myForm" action="#" method="post" class="form-horizontal">
                    <!--定义上一个标签是否未完结-->
                    {% assign isFinished = true %}
                    {% for item in include.inData %}
                    <!--如果当前为半长-->
                    {% if item.span == 1 %}
                    <!--判断上一个标签是否完结-->
                    {% if isFinished %}
                    <div class="form-group {% if item.visible == false %}hidden{% endif %}">
                        <label for="{{ item.id }}" class="col-sm-2 control-label">{{ item.name }}</label>
                        <div class="col-sm-4">
                            <input type="{% if item.type == 'password' %}password{% else %}text{% endif %}"
                                   class="form-control" id="{{ item.id }}" name="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}">
                        </div>
                        {% assign isFinished = false %}
                        {% else %}
                        <label for="{{ item.id }}" class="col-sm-2 control-label">{{ item.name }}</label>
                        <div class="col-sm-4">
                            <input type="{% if item.type == 'password' %}password{% else %}text{% endif %}"
                                   class="form-control" id="{{ item.id }}" name="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}">
                        </div>
                    </div>
                    {% assign isFinished = true %}
                    {% endif %}
                    <!--如果当前为全长-->
                    {% else %}
                    <!--判断上一个标签是否完结-->
                    {% if isFinished %}
                    <div class="form-group {% if item.visible == false %} hidden {% endif %}">
                        <label for="{{ item.id }}" class="col-sm-2 control-label">{{ item.name }}</label>
                        <div class="col-sm-10">
                            <input type="{% if item.type == 'password' %}password{% else %}text{% endif %}"
                                   class="form-control" id="{{ item.id }}" name="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}">
                        </div>
                    </div>
                    {% else %}
                </div>
                <div class="form-group {% if item.visible == false %} hidden {% endif %}">
                    <label for="{{ item.id }}" class="col-sm-2 control-label">{{ item.name }}</label>
                    <div class="col-sm-10">
                        <input type="{% if item.type == 'password' %}password{% else %}text{% endif %}"
                               class="form-control" id="{{ item.id }}" name="{{ item.id }}"
                               placeholder="{{ item.placeholder }}">
                    </div>
                </div>
                {% endif %}
                {% assign isFinished = true %}
                {% endif %}
                {% endfor %}
                <!--判断结尾一个是否为半长,若为半长,则添加标签尾部-->
                {% if !isFinished %}
            </div>
            {% endif%}
            </form>
        </div>
        <div class="modal-footer">
            <button id="saveObj" type="button" class="btn btn-success">
                <i class="glyphicon glyphicon-ok"></i> 保存
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                <i class="glyphicon glyphicon-remove"></i> 取消
            </button>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/pageJs/modal_gen.js" charset="utf-8"></script>