---
layout: base_div
---
{% include base/tip/tip.html %}
{% include base/table/functionTable.html %}
{% include base/modal/functionModal.html inData = site.data.authFunction %}

<script type="text/javascript">

    //后台数据接口，全局变量
    var apiObjUrl = '{{ site.apiAddress }}' + '/api/' + 'authFunctions';

    //第一次获取的table数据，全局变量
    var globalData;

    var tableGen = new TableGen();
    tableGen.editFields = new Array('id', 'parentId', 'fullName', 'icon', 'url', 'target', 'isMenu');
    tableGen.apiName = 'authFunctions';
    tableGen.modalID = 'funModal';
    tableGen.tableID = 'funTable';
    tableGen.setTable = function (inTable) {
        inTable.bootstrapTable({
            height: $(window).height(),
            columns: [{
                field: 'state',
                checkbox: true,
                align: 'center',
                valign: 'middle'
            }, {
                title: 'ID',
                field: 'id',
                align: 'center',
                sortable: true,
//                width: "6%",
                cellStyle: tableGen.formatTableCell
            }, {
                title: '父ID',
                field: 'parentId',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: '菜单名称',
                field: 'fullName',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: '图标',
                field: 'icon',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: 'URL地址',
                field: 'url',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            },{
                title: '目标',
                field: 'target',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            },{
                title: '导航菜单',
                field: 'isMenu',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: '操作',
                field: 'operate',
                align: 'center',
                valign: 'middle',
//                width: "8%",
                formatter: tableGen.operateFormatter,
                events: operateEvents
            }]
        });
    };
    tableGen.loadData = function () {
        $.ajax({
            url: apiObjUrl,
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", $.cookie('author_code'));
            },
            success: function (data) {
                globalData = data;
                initZTree(globalData);
                initParentId(globalData);
                tableGen.table.bootstrapTable('load', data);
            },
            error: function (err) {
                alertInfoTip("error", "错误", "获取数据失败");
            }
        });
    };
    window.operateEvents = tableGen.operationEvent();
    tableGen.bind();

    var modalGen = new ModalGen();
    modalGen.editFields = new Array('id', 'parentId', 'fullName', 'icon', 'url', 'target', 'isMenu');
    modalGen.modalID = 'funModal';
    modalGen.saveButtonID = 'saveObj';
    //    modalGen.validates = {type: "notEmpty", className: "notEmpty"};

    modalGen.bind();

</script>