---
layout: base_page
---
{% include base/tip/tip.html %}
{% include base/table/table.html apiName = 'authFunctions' %}
{% include base/modal/modal.html inData = site.data.authFunction %}

<script type="text/javascript">

    var tableGen = new TableGen();
    tableGen.editFields = new Array('id', 'parentId', 'fullName', 'icon', 'url', 'target', 'isMenu');
    tableGen.apiName = 'authFunctions';
    tableGen.modalID = 'myModal';
    tableGen.tableID = 'table';
    tableGen.setTable = function (inTable) {
        inTable.bootstrapTable({
            height: $(window).height(),
            columns: [{
                field: 'state',
                checkbox: true,
                align: 'center',
                valign: 'middle'
            }, {
                title: 'ID',
                field: 'id',
                align: 'center',
                sortable: true,
//                width: "6%",
                cellStyle: tableGen.formatTableCell
            }, {
                title: '父ID',
                field: 'parentId',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: '菜单名称',
                field: 'fullName',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: '图标',
                field: 'icon',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: 'URL地址',
                field: 'url',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            },{
                title: '目标',
                field: 'target',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            },{
                title: '导航菜单',
                field: 'isMenu',
                align: 'center',
                cellStyle: tableGen.formatTableCell
            }, {
                title: '操作',
                field: 'operate',
                align: 'center',
                valign: 'middle',
//                width: "8%",
                formatter: tableGen.operateFormatter,
                events: operateEvents
            }]
        });
    };
    window.operateEvents = tableGen.operationEvent();
    tableGen.bind();

    var modalGen = new ModalGen();
    modalGen.editFields = new Array('id', 'parentId', 'fullName', 'icon', 'url', 'target', 'isMenu');
    modalGen.modalID = 'myModal';
    modalGen.saveButtonID = 'saveObj';
//    modalGen.validates = {type: "notEmpty", className: "notEmpty"};
    modalGen.bind();

</script>